<script>
(function(){var urls=["https:\/\/partner.teathemes.net\/shopify-assets\/shop\/obs-test.myshopify.com\/home-hero-slider-obs-testmyshopifycom.css","https:\/\/fonts.googleapis.com\/css?family=Satisfy%3A400","https:\/\/fonts.googleapis.com\/css?family=Karla%3A700%2C400"];for(var i=0;i<urls.length;i++){var s=document.createElement('link');s.rel='stylesheet';s.type='text/css';s.href=urls[i];var x=document.getElementsByTagName('link')[0];x.parentNode.insertBefore(s,x);}})();;var s = document.createElement('script');s.type = 'text/javascript';s.defer = true;s.src = 'https://partner.teathemes.net/shopify-assets/shop/obs-test.myshopify.com/home-hero-slider-obs-testmyshopifycom.js';document.head.appendChild(s);</script><!--ID-home-hero-slider-obs-testmyshopifycom--><!--[shopify-slider alias="home-hero-slider-obs-testmyshopifycom"] --><!-- ok --><style type="text/css"></style>
<div id="rev_slider_2099_1_wrapper" class="wait-to-load rev_slider_wrapper fullwidthbanner-container" data-alias="home-hero-slider-obs-testmyshopifycom" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px; opacity:0;">
<!-- START REVOLUTION SLIDER 5.2.6 fullwidth mode -->
	<div id="rev_slider_2099_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.2.6">
<ul>	<!-- SLIDE  -->
    <li data-index="rs-7559" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="https://cdn.shopify.com/s/files/1/2531/4838/t/2/assets/807e8-obs-table-top-bg.jpg?1135767671153016323"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
        <img src="https://cdn.shopify.com/s/files/1/2531/4838/t/2/assets/807e8-obs-table-top-bg.jpg?1135767671153016323"  alt=""  data-bgposition="center top" data-kenburns="on" data-duration="10000" data-ease="Power0.easeInOut" data-scalestart="100" data-scaleend="105" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="-50 0" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-7559-layer-2" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-86','-86','-86','-86']" 
						data-fontsize="['39','28','22','22']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 5; white-space: nowrap; font-size: 39px; line-height: 60px; font-weight: 400; color: rgba(17, 178, 135, 1.00);font-family:Satisfy;">Guaranteed </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-7559-layer-4" 
			 data-x="['center','center','center','center']" data-hoffset="['-2','-2','-2','-2']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-51','-54','-55','-55']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 6;"><img src="https://dev.xtemos.com/new/wp-content/uploads/2015/08/divider-flower.png" alt="" data-ww="['80px','80px','80px','80px']" data-hh="['20px','20px','20px','20px']" data-no-retina> </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-7559-layer-1" 
			 data-x="['center','center','center','center']" data-hoffset="['4','4','0','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['3','-6','-14','-14']" 
						data-fontsize="['72','56','42','38']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 7; white-space: nowrap; font-size: 72px; line-height: 60px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Karla;">PREVENTS ITCH.  </div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-7559-layer-5" 
			 data-x="['center','center','center','center']" data-hoffset="['-4','-4','-4','-4']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['74','56','44','44']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','on','on','off']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 8; white-space: nowrap; font-size: 14px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Karla;text-align:center;letter-spacing:.6px;opacity:0.8;">Suspendisse ridiculus parturient ac a dui cursus interdum dignissim netus habitant<br> ultrices et mattis urna sem a euismod a adipiscing faucibus a. </div>

		<!-- LAYER NR. 5 -->
		<div class="tp-caption rev-btn " 
			 id="slide-7559-layer-6" 
			 data-x="['center','center','center','center']" data-hoffset="['1','0','-1','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['141','122','108','56']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
				data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Linear.easeNone;"
				data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 
			data-responsive="off"
			
			style="z-index: 9; white-space: nowrap; font-size: 14px; line-height: 14px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Karla;background-color:rgba(0, 0, 0, 0);padding:10px 30px 10px 30px;border-color:rgba(255, 255, 255, 1.00);border-style:solid;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">SHOP NOW </div>
	</li>
	<!-- SLIDE  -->
    <li data-index="rs-7561" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="https://cdn.shopify.com/s/files/1/2531/4838/t/2/assets/60f9c-obs-packging.jpg?11537271016122696817"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
        <img src="https://cdn.shopify.com/s/files/1/2531/4838/t/2/assets/60f9c-obs-packging.jpg?11537271016122696817"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Power0.easeInOut" data-scalestart="100" data-scaleend="105" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="50 0" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-7561-layer-2" 
			 data-x="['left','left','left','center']" data-hoffset="['120','128','128','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-86','-86','-86','-86']" 
						data-fontsize="['39','28','28','28']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 5; white-space: nowrap; font-size: 39px; line-height: 60px; font-weight: 400; color: rgba(17, 178, 135, 1.00);font-family:Satisfy;">New Collections </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-7561-layer-1" 
			 data-x="['left','left','left','center']" data-hoffset="['110','120','120','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-19','-28','-28','-28']" 
						data-fontsize="['72','62','62','52']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 6; white-space: nowrap; font-size: 72px; line-height: 60px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Karla;">BEAUTY & STYLE </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-7561-layer-5" 
			 data-x="['left','left','left','left']" data-hoffset="['116','125','125','125']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['52','40','40','40']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','on','on','off']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 7; white-space: nowrap; font-size: 14px; line-height: 24px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Karla;letter-spacing:.6px;opacity:0.8;">Suspendisse ridiculus parturient ac a dui cursus interdum dignissim netus habitant<br> ultrices et mattis urna sem a euismod a adipiscing faucibus a. </div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption rev-btn " 
			 id="slide-7561-layer-6" 
			 data-x="['left','left','left','center']" data-hoffset="['116','125','125','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['114','105','105','51']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
				data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Linear.easeNone;"
				data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 
			data-responsive="off"
			
			style="z-index: 8; white-space: nowrap; font-size: 14px; line-height: 14px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Karla;background-color:rgba(0, 0, 0, 0);padding:10px 30px 10px 30px;border-color:rgba(255, 255, 255, 1.00);border-style:solid;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">SHOP NOW </div>
	</li>
	<!-- SLIDE  -->
    <li data-index="rs-7560" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="https://cdn.shopify.com/s/files/1/2531/4838/t/2/assets/slide-hero-6.jpg?12888120555857341726"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
        <img src="https://cdn.shopify.com/s/files/1/2531/4838/t/2/assets/slide-hero-6.jpg?12888120555857341726"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-7560-layer-2" 
			 data-x="['left','left','left','center']" data-hoffset="['120','128','80','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-76','-67','-66','-73']" 
						data-fontsize="['39','28','22','32']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 5; white-space: nowrap; font-size: 39px; line-height: 60px; font-weight: 400; color: rgba(17, 178, 135, 1.00);font-family:Satisfy;text-align:center;">New Collections </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-7560-layer-1" 
			 data-x="['left','left','left','center']" data-hoffset="['110','120','70','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-9','-9','-24','-24']" 
						data-fontsize="['72','56','42','42']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 6; white-space: nowrap; font-size: 72px; line-height: 60px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Karla;">STYLE UP YOURSELF </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-7560-layer-5" 
			 data-x="['left','left','left','left']" data-hoffset="['118','128','77','77']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['61','53','32','32']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','on','on','off']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 7; white-space: nowrap; font-size: 14px; line-height: 24px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Karla;letter-spacing:.6px;opacity:0.8;">Suspendisse ridiculus parturient ac a dui cursus interdum dignissim netus habitant<br> ultrices et mattis urna sem a euismod a adipiscing faucibus a. </div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption rev-btn " 
			 id="slide-7560-layer-6" 
			 data-x="['left','left','left','center']" data-hoffset="['118','128','77','-1']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['130','116','101','41']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
				data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Linear.easeNone;"
				data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 
			data-responsive="off"
			
			style="z-index: 8; white-space: nowrap; font-size: 14px; line-height: 14px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Karla;background-color:rgba(0, 0, 0, 0);padding:10px 30px 10px 30px;border-color:rgba(255, 255, 255, 1.00);border-style:solid;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">SHOP NOW </div>
	</li>
</ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
</div><!-- END REVOLUTION SLIDER --><!--/ID-home-hero-slider-obs-testmyshopifycom-->